<a href='/purchase-info?id={{id}}' class='purchase-href'>
  <div class='purchase-item'>
    <div class='purchase-item__block'>
      <span class='title'>ID: {{id}}</span>
    </div>
    <div class='purchase-item__block'>
      <span class='title'>Товары</span>
      <span class='text'>{{product}}</span>
    </div>
    <div class='purchase-item__block'>
      <span class='title'>Сумма заказа</span>
      <span class='text'>{{totalPrice}} грн</span>
    </div>
    <div class='purchase-item__block'>
      <span class='title'>Насчитанные бонусы</span>
      <span class='text'>{{bonus}} грн</span>
    </div>
  </div>
</a>