{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section>
    <div class='form'>
      <h1 class='form__title'>Создать пользователя</h1>
      <form method='POST' action='/user-create'>
        <div class='form__content'>
          <div class='form__field'>
            <label for='email' class='form__label'>Email адрес:</label>
            <input type='email' name='email' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='login' class='form__label'>Никнейм:</label>
            <input type='login' name='login' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='password' class='form__label'>Пароль:</label>
            <input type='password' name='password' class='form__input' />
          </div>
          <button class='form__button'>Создать</button>
        </div>
      </form>
    </div>
  </section>

  <section>
    <div class='form'>
      <h1 class='form__title'>Список пользователей</h1>
      <div class='user-list'>
        {{#with data.users}}
          {{#if isEmpty}}
            <mark>Пустой</mark>
          {{else}}
            <ul>
              {{#each list}}
                <li>{{email}}
                  |
                  {{login}}
                  |
                  {{id}}
                  <a href='/user-delete?id={{id}}'>(удалить)</a></li>
              {{/each}}
            </ul>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </section>

  <section>
    <div class='form'>
      <h1 class='form__title'>Обновить почту пользователя</h1>
      <form method='POST' action='/user-update'>
        <div class='form__content'>
          <div class='form__field'>
            <label for='id' class='form__label'>ID:</label>
            <input type='id' name='id' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='email' class='form__label'>Новый email адрес:</label>
            <input type='email' name='email' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='password' class='form__label'>Пароль:</label>
            <input type='password' name='password' class='form__input' />
          </div>
          <button class='form__button'>Отправить</button>
        </div>
      </form>
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}