<main class='main'>
  {{#with data}}
    <div class='main__content'>
      <h1 class='title title--center'>Поиск плейлиста</h1>

      <form method='POST' action='/spotify-search' class='search'>
        <img src='svg/spotify_search.svg' />
        <input
          type='search'
          class='search__input'
          placeholder='Введите запрос'
          name='value'
          value='{{value}}'
        />
        <button class='search__button'>Поиск</button>
      </form>

      <ul class='playlist__list'>
        {{#each list}}
          <li class='playlist'>
            <img src='{{image}}' alt='{{name}}' height='100px' />
            <div class='playlist__content'>
              <strong class='playlist__name'>{{name}}</strong>
              <span class='playlist__amount'>Количество песен: {{amount}}</span>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</main>